
font-awesome-4.7.0/css/font-awesome.css
font-awesome-4.7.0/css/font-awesome.min.css
font-awesome-4.7.0/fonts/fontawesome-webfont.eot
font-awesome-4.7.0/fonts/fontawesome-webfont.svg
font-awesome-4.7.0/fonts/fontawesome-webfont.ttf
font-awesome-4.7.0/fonts/fontawesome-webfont.woff
font-awesome-4.7.0/fonts/fontawesome-webfont.woff2
font-awesome-4.7.0/fonts/FontAwesome.otf
font-awesome-4.7.0/HELP-US-OUT.txt
font-awesome-4.7.0/less/animated.less
font-awesome-4.7.0/less/bordered-pulled.less
font-awesome-4.7.0/less/core.less
font-awesome-4.7.0/less/fixed-width.less
font-awesome-4.7.0/less/font-awesome.less
font-awesome-4.7.0/less/icons.less
